.mat-fab {
    width: 8rem;
    height: 8rem;
    mat-icon {
        margin-left: -2.5rem;
        margin-top: -2.5rem;
        font-size: 4rem;
    }
}

.home-big-button-svg {
    display: block;
    fill: #fff;
    width: 4rem;
    height: 4rem;
}

.green {
    background-color: #a9c85f !important;
}

.heart-img {
    width: 15px;
}

.prod-img {
    height: 210px;
    // object-fit: contain;
    width: 100%
}

.text-overflow {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

