<div class="content mt-4">
  <div style="display:block; width: 100%">
    <slideshow [imageUrls]="images" [height]="'270px'" [minHeight]="" [showArrows]="false" [autoPlay]="true"
      [autoPlayInterval]="5000" [backgroundSize]="'cover'" [showDots]="true" [dotColor]="'#010101'" [lazyLoad]="true"
      [autoPlayWaitForLazyLoad]="true" [hideOnNoSlides]="true">
    </slideshow>
  </div>
  <div class="row pt-2">
    <div class="col-12">
      <h4 class="font-color-title">สินค้ามาใหม่</h4>
    </div>
  </div>
  <div class="row" *ngIf="data">
    <div class="col-12 col-sm-12 col-md-4 mb-3" *ngFor="let item of data">
      <mat-card class="pb-0" (click)="clickToHome()">
        <img mat-card-image class="" [src]="item.image.url">
        <mat-card-content class="mb-0">
          <p class="mb-0 text-overflow ">
            {{item.name}}
          </p>
          <p class="mb-0">
            {{item.price}}
          </p>
          <img class="heart-img mb-2 mt-1"
            src="https://res.cloudinary.com/dyiuidzsc/image/upload/v1548908336/web-sharing/icon-heart.png" alt="">
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>